h1 {
    text-align: center;
}

.container {
    background-color: beige;
}

input {
    width: 100%;
}

h5 {
    text-align: center;
    width: 100%;
}

p {
    font-weight: bold;
}

.priority-red {
    background-color: red;
    color: white;
}

.hidden-priority {
    display: none;
}